:root {
	--line-width: var(--line-width);
}

.progress-step {
	width: 50%;

	& > .progress-container {
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;
		position: relative;

		& > .line {
			position: absolute;
			background-color: var(--primary);
			height: 2px;
			max-width: 100%;
			width: var(--line-width);
			z-index: -1;
			top: 50%;
			transform: translateY(-50%);
			transition: 0.4s ease;
		}

		& > .progress {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: white;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			color: var(--neutral-n3-info-text);
			font-weight: 500;
			font-size: 12px;
			transition: 0.4s ease;
			border: 2px solid var(--neutral-n5-div);

			&.active {
				border: 2px solid var(--primary);
			}
		}
	}

	& > .progress-container::before {
		content: '';
		position: absolute;
		background-color: var(--neutral-n5-div);
		height: 2px;
		width: 100%;
		z-index: -1;
		top: 50%;
		transform: translateY(-50%);
	}

	& > .buttons {
		display: flex;
		justify-content: center;

		& > button {
			background-color: var(--primary);
			border-radius: 8px;
			padding: 8px 30px;
			color: white;
			font-weight: 500;

			& + button {
				margin-left: 50px;
			}

			&:active {
				transform: scale(0.98);
			}

			&:disabled {
				background-color: var(--neutral-n5-div);
				cursor: not-allowed;

				&:active {
					transform: unset;
				}
			}
		}
	}
}
